name: Test Pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Say Hello
        run: echo "Pipeline is working"
